* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
.header {
    background: red;
    font-size: 1.6rem;
    height: 5rem;
}
.main
.aside {
    display: inline-block;
}
.main {
    background: green;
    width: 69%;
    height: 50rem;
}
.aside {
    background: blue;
    width: 30%;
    height: 50rem;
}